body {
  font-family: 'Segoe UI', Arial;
}

.profilepic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.footer{ 
  position: fixed;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
  margin-bottom: 20px;
}