body {
    background-color: black;
}
a {
    color: white;
    font-family:Arial;
    font-size:20px;
}
b {
    color: white;
    font-family:Arial;
    font-size:15px;
}
h1 {
    color: white;
    font-family:Arial;
    font-size:30px;
}
  
p {
    color: white;
    font-size: 20px;
    font-family: Arial;
}