body {
    background-color: black;
}

.topnavbar {
    width: 100%;
    background-color:rgb(54, 54, 54);
    overflow: hidden;
}
  
.topnavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
}  

h1 {
    color: white;
    font-family:Arial;
    font-size:30px;
 }
  
p {
    color: white;
    font-size: 20px;
    font-family: Arial;
  }

.Button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:25px;
    font-weight:bold;
    padding:15px 15px;
    text-decoration:none;
  }
.Button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}
.Button:active {
    position:relative;
    top:1px;
}