body {
    background-color: black;
    padding: 1rem;
}
  
div {
    
    color: white;
    font-family:Arial;
    font-size:20px;
}

a {
    color: white;
    font-family:Arial;
    font-size:20px;
}
h1 {
    color: white;
    font-family:Arial;
    font-size:25px;
}
  
p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial;
}

b {
    color: white;
    font-family:Arial;
    font-size:25px;
}

.Button {
    background-color:#0C888A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:15px 15px;
    text-decoration:none;
}
.Button:hover {
    background-color:#4795A1;
}
.Button:active {
    position:relative;
    top:1px;
}
  
img {
    max-width: 100%
}

.app {
  padding: 1rem;
  height: 4rem;
}

.grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 5rem;
  text-align: center;
}

@media (min-width: 200px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1100px) {
  .grid { grid-template-columns: repeat(4, 1fr); }
}
