body {
    background-color: black;
} 
div {
    color: white;
    font-family:Arial;
    font-size:20px;
}

a {
    color: white;
    font-family:Arial;
    font-size:20px;
}

h1 {
    color: white;
    font-family:Arial;
    font-size:25px;
}
  
p {
    color: white;
    font-size: 20px;
    font-family: Arial;
}

.Button {
    background-color:#0C888A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:15px 15px;
    text-decoration:none;
}
.Button:hover {
    background-color:#4fa5b3;
}

.container {
    display: flex;
    align-items: center;
}